body {
	background-color: #ffffff;
}
nav {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
nav ul {
	list-style-type: none;	
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 30px;
	color: #8a140e;
	background-color: #e0e8f0;
	text-align: center;
	text-shadow: #e0e8f0;
}
h2 {
	color: #51a2d9;
	font-size: 24px
}

h3 {
	font-size: 16px;
}


p {
	font-family: 'open-sans', sans-serif;
	color: #1d2731;
	font-size: 14px;
}
strong {
	background-color: #53c0f0;

}
p strong {
	color: #ffffff;
}
img {
	border: 2px;
    border-radius: 4px;
    padding: 10px;
}
